:root {
  --font-cool: Comfortaa;
  --body-color: rgb(221, 252, 231);
  --primary-color: black;
}

body {
  background-color: var(--body-color);
}
.navbar {
  background-color: aquamarine !important;
  font-family: var(--font-cool) !important;
  color: var(--primary-color) !important;
}

.active {
  font-weight: bolder !important;
}
h1 {
  color: var(--primary-color);
  font-family: var(--font-cool);
  font-size: 60px;
  font-weight: bold;
  padding: 10px;
}

h2 {
  color: var(--primary-color);
  font-family: var(--font-cool);
  font-size: 38px;
  font-weight: normal;
  margin: 15px;
}

.introduction-title,
.hello {
  padding: 5px;
  margin: 0;
  font-size: 20px;
}

.hello {
  font-weight: bolder;
  font-size: 28px;
}
.email {
  text-decoration: none;
  color: var(--primary-color);
}

#title-container {
  padding: 60px;
  text-align: center;
  font-family: var(--font-cool);
  background-color: aquamarine;
  margin: 0;
}

.contactMe,
.button-learnMore {
  margin: 15px;
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  font-size: 13px;
}

.contactMe:hover,
.email:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: aquamarine;
}

#homepage-sections,
#about-sections,
#contactPage-container {
  margin-bottom: 50px;
}
.img-about-me,
.img-my-projects,
.img-work,
.img-education {
  display: flex;
  justify-content: center;
}

.imgProfile,
.imgAbout,
.imgWork,
.imgEducation,
.imgProjectsPage {
  display: block;
  border: var(--primary-color);
  padding: 10px;
  border-radius: 180px;
  margin: 0 auto;
}
.imgWork {
  width: 200px;
}
.imgEducation {
  width: 250px;
}
.imgProjectsPage {
  width: 300px;
}

.aboutTitle,
.projectsTitle,
.workTitle,
.educationTitle {
  text-align: center;
  font-family: var(--font-cool);
  font-weight: bold;
  padding: 15px;
}
.introducing-myself,
.introducing-projects,
.introducing-work,
.introducing-education {
  display: block;
  text-align: center;
}

.text-myself,
.text-projects {
  text-align: center;
  font-family: var(--font-cool);
  font-size: 16px;
}

.workTitle,
.educationTitle {
  text-align: left;
}

.text-experience,
.text-education {
  display: block;
  text-align: left;
  font-family: var(--font-cool);
  font-size: 16px;
}

li {
  margin: 10px;
}

.button-learnMore {
  color: var(--primary-color);
  font-family: var(--font-cool);
  font-weight: bold;
  padding: 8px;
}

.button-learnMore:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: aquamarine;
}

.aboutme-link,
.myProjects-link {
  text-decoration: none;
  color: var(--primary-color);
}

.myProjects-link:hover,
.aboutme-link:hover {
  color: aquamarine;
}

.imgProjects {
  padding: 20px;
  text-align: center;
  width: 400px;
}

.contacts {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 25px;
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--font-cool);
  font-size: 30px;
  font-weight: bold;
}

.contacts:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.projects-paragraphs {
  padding: 30px;
  margin-top: 40px;
}

.myProjects {
  padding: 30px;
  text-align: center;
}
.croissant-img,
.weather-img,
.art-img,
.portfolio-img {
  display: flex;
  justify-content: center;
  border: 3px solid aquamarine;
  margin: 10px;
  padding: 5px;
}

#contacts-ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
@media (min-width: 900px) {
  .imgProfile,
  .imgAbout,
  .imgWork,
  .imgEducation {
    display: block;
    margin: 0 auto;
    border-radius: 280px;
  }
  .imgProjects {
    display: block;
    margin: 0 auto;
    border-radius: none;
  }
}

@media (min-width: 700px) {
  .aboutTitle,
  .workTitle,
  .educationTitle,
  .contacts {
    font-size: 26px;
  }
  .text-myself,
  .text-experience,
  .text-education {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .h1Name,
  .contact-title {
    font-size: 50px;
  }
  .hello,
  .aboutTitle,
  .workTitle,
  .educationTitle,
  .projectsPageTitle,
  .myProjects,
  .contacts {
    font-size: 22px;
  }
  .workTitle,
  .educationTitle {
    text-align: center;
  }
  .introduction-title {
    font-size: 14px;
  }
  .text-myself,
  .text-projects,
  .text-experience,
  .text-education {
    font-size: 12px;
  }
  #contacts-ul {
    display: block;
    text-align: center;
  }
}

@media (max-width: 700px) {
  #contacts-ul {
    display: block;
    text-align: center;
  }
}
