:root {
  --font-cool: Comfortaa;
  --body-color: rgb(221, 252, 231);
}

body {
  background-color: var(--body-color);
}
h1 {
  color: black;
  font-family: var(--font-cool);
  font-size: 60px;
  font-weight: bold;
  padding: 5px;
}

.introduction-title,
.hello {
  padding: 5px;
  margin: 0;
  font-size: 20px;
}

.hello {
  font-weight: bolder;
  font-size: 28px;
}

#title-container {
  padding: 75px;
  text-align: center;
  font-family: var(--font-cool);
  background-color: aquamarine;
}

.contactMe,
.button-learnMore {
  margin: 15px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 13px;
}

.contactMe:hover {
  cursor: pointer;
  background-color: black;
  color: aquamarine;
}

.img-about-me,
.img-my-projects {
  display: flex;
  justify-content: center;
}

.imgProfile {
  border: black;
  padding: 10px;
  border-radius: 180px;
  width: auto;
}

.aboutTitle,
.projectsTitle {
  text-align: center;
  font-family: var(--font-cool);
  font-weight: bold;
  padding: 15px;
}
.introducing-myself,
.introducing-projects {
  display: block;
  text-align: center;
}

.text-myself,
.text-projects {
  text-align: center;
  font-family: var(--font-cool);
}

.button-learnMore {
  color: black;
  font-family: var(--font-cool);
  font-weight: bold;
  padding: 8px;
}

.button-learnMore:hover {
  cursor: pointer;
  background-color: black;
  color: aquamarine;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: aquamarine;
}

.imgProjects {
  padding: 20px;
  text-align: center;
  width: 400px;
}

.contacts {
  text-align: center;
  margin-top: 60px;
  padding: 50px;
  color: black;
  font-family: var(--font-cool);
  font-size: 30px;
  font-weight: bold;
}
